# Data Cleaning _ Reviewer Profile

## Import Libraries

In [1]:
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('../data/original/webmd_reviews2.csv')

In [4]:
df.head()

,Rdate,comment,condition,drug,easeofuse,effectiveness,helpful,reviewer,satisfaction
0,9/19/2007 9:03:53 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"bjorn, 65-74 Male on Treatment for 2 to less ...",3
1,9/18/2007 11:18:23 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"cutie54, 45-54 Female on Treatment for 1 to 6...",5
2,3/2/2015 7:26:37 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,65-74 Female on Treatment for 1 to 6 months (...,5
3,1/4/2015 6:47:30 AM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,4,2,15,"MarkW, 65-74 Male on Treatment for 1 to 6 mon...",1
4,10/20/2014 3:13:21 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,"Les, 55-64 Female (Patient)",5

## Check Missing Data

In [5]:
df.isnull().sum()

Rdate              0
comment            9
condition          0
drug               0
easeofuse          0
effectiveness      0
helpful            0
reviewer         253
satisfaction       0
dtype: int64

## Extract Information from `reviewer` column

In this section, I could find meaningful categorical variables: 'id', 'age group', 'gender', 'treatment period', and 'reviewer status - either patient or caregiver'. Considering that we will one-hot-encode or dummify categorical variables, I created separate columns for each category.

**1.  reviewer status:**
  - patient
  - caregiver 
  


**2.  gender:**
  - male
  - female

**3.  treatment period:**
  - less than 1 month
  - 1 to 6 months
  - 6 months to less than 1 year
  - 1 to less than 2 years
  - 2 to less than 5 years
  - 5 to less than 10 years
  - 10 years or more

**4.  age group:**
  - 19-24
  - 25-34
  - 35-44
  - 45-54
  - 55-64
  - 65-74
  - 75+

In [6]:
print(df['reviewer'][1])

cutie54, 45-54 Female  on Treatment for 1 to 6 months (Patient)

In [7]:
reviewer_profile = df['reviewer']

In [8]:
reviewer_profile[0]

'bjorn, 65-74 Male  on Treatment for 2 to less than 5 years (Patient)'

In [9]:
reviewer_profile

0       bjorn, 65-74 Male  on Treatment for 2 to less ...
1       cutie54, 45-54 Female  on Treatment for 1 to 6...
2       65-74 Female  on Treatment for 1 to 6 months (...
3       MarkW, 65-74 Male  on Treatment for 1 to 6 mon...
4                            Les, 55-64 Female  (Patient)
                              ...
5490    Dee1956, 55-64 Female  on Treatment for 1 to 6...
5491    Richard, 75 or over Male  on Treatment for 6 m...
5492    jodo, 75 or over Female  on Treatment for 10 y...
5493    Buggyducjk, 75 or over Male  on Treatment for ...
5494    75 or over Female  on Treatment for 10 years o...
Name: reviewer, Length: 5495, dtype: object

**Note**

In this section, I could find meaningful categorical variables: 'id', 'age group', 'gender', 'treatment period', and 'reviewer status - either patient or caregiver'. Considering that we will one-hot-encode or dummify categorical variables, I created separate columns for each category.

**1.  reviewer status:**
  - patient
  - caregiver 
  


**2.  gender:**
  - male
  - female

**3.  treatment period:**
  - less than 1 month
  - 1 to 6 months
  - 6 months to less than 1 year
  - 1 to less than 2 years
  - 2 to less than 5 years
  - 5 to less than 10 years
  - 10 years or more

**4.  age group:**
  - 19-24
  - 25-34
  - 35-44
  - 45-54
  - 55-64
  - 65-74
  - 75+

### 1. Reviewer status

Reviewers were either `patient` or `caregiver`.

#### `Patient`

##### Extract string `Patient` from reviewer string.

In [10]:
df['patient'] = df['reviewer'].str.findall('Patient').str.join('')
df['patient'].value_counts()

Patient           5026
                   215
PatientPatient       1
Name: patient, dtype: int64

Change 'PatientPatient' into 'Patient'

In [11]:
df.loc[df['patient'] == 'PatientPatient', 'patient'] = 'Patient'

In [12]:
df['patient'].value_counts()

Patient    5027
            215
Name: patient, dtype: int64

Encode `Patient` as 1, else as 0.

In [13]:
df['patient'] = np.where(df['patient'] == 'Patient', 1, 0)

In [14]:
df['patient'].value_counts()

1    5027
0     468
Name: patient, dtype: int64

#### `Caregiver`

In [15]:
df['caregiver'] = df['reviewer'].str.findall('Caregiver').str.join('')

In [16]:
df['caregiver'].value_counts()

             5144
Caregiver      98
Name: caregiver, dtype: int64

Encode `Caregiver` as 1, else as 0

In [17]:
df['caregiver'] = df['reviewer'].str.findall('Caregiver').str.join('')

In [18]:
df['caregiver'] = np.where(df['caregiver'] == 'Caregiver', 1, 0)

In [19]:
df['caregiver'].value_counts()

0    5397
1      98
Name: caregiver, dtype: int64

In [20]:
df.head()

,Rdate,comment,condition,drug,easeofuse,effectiveness,helpful,reviewer,satisfaction,patient,caregiver
0,9/19/2007 9:03:53 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"bjorn, 65-74 Male on Treatment for 2 to less ...",3,1,0
1,9/18/2007 11:18:23 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"cutie54, 45-54 Female on Treatment for 1 to 6...",5,1,0
2,3/2/2015 7:26:37 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,65-74 Female on Treatment for 1 to 6 months (...,5,1,0
3,1/4/2015 6:47:30 AM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,4,2,15,"MarkW, 65-74 Male on Treatment for 1 to 6 mon...",1,1,0
4,10/20/2014 3:13:21 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,"Les, 55-64 Female (Patient)",5,1,0

### 2. Gender

#### `Male`

In [21]:
df['male'] = df['reviewer'].str.findall('Male').str.join('')

In [22]:
df['male'].value_counts()

        3224
Male    2018
Name: male, dtype: int64

In [23]:
df['male'] = np.where(df['male'] == 'Male', 1, 0)

In [24]:
df.head()

,Rdate,comment,condition,drug,easeofuse,effectiveness,helpful,reviewer,satisfaction,patient,caregiver,male
0,9/19/2007 9:03:53 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"bjorn, 65-74 Male on Treatment for 2 to less ...",3,1,0,1
1,9/18/2007 11:18:23 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"cutie54, 45-54 Female on Treatment for 1 to 6...",5,1,0,0
2,3/2/2015 7:26:37 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,65-74 Female on Treatment for 1 to 6 months (...,5,1,0,0
3,1/4/2015 6:47:30 AM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,4,2,15,"MarkW, 65-74 Male on Treatment for 1 to 6 mon...",1,1,0,1
4,10/20/2014 3:13:21 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,"Les, 55-64 Female (Patient)",5,1,0,0

#### `Female`

In [25]:
df['female'] = df['reviewer'].str.findall('Female').str.join('')

In [26]:
df['female'] = np.where(df['female'] == 'Female', 1, 0)

In [27]:
df.head()

,Rdate,comment,condition,drug,easeofuse,effectiveness,helpful,reviewer,satisfaction,patient,caregiver,male,female
0,9/19/2007 9:03:53 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"bjorn, 65-74 Male on Treatment for 2 to less ...",3,1,0,1,0
1,9/18/2007 11:18:23 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"cutie54, 45-54 Female on Treatment for 1 to 6...",5,1,0,0,1
2,3/2/2015 7:26:37 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,65-74 Female on Treatment for 1 to 6 months (...,5,1,0,0,1
3,1/4/2015 6:47:30 AM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,4,2,15,"MarkW, 65-74 Male on Treatment for 1 to 6 mon...",1,1,0,1,0
4,10/20/2014 3:13:21 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,"Les, 55-64 Female (Patient)",5,1,0,0,1

### 3. Treatment Period

I found seven different periods using regex.

#### Create columns for each periods

In [28]:
df['treatment_period_1'] = df['reviewer'].str.findall('less than 1 month').str.join('')
df['treatment_period_2'] = df['reviewer'].str.findall('1 to 6 months').str.join('')
df['treatment_period_3'] = df['reviewer'].str.findall('6 months to less than 1 year').str.join('')
df['treatment_period_4'] = df['reviewer'].str.findall('1 to less than 2 years').str.join('')
df['treatment_period_5'] = df['reviewer'].str.findall('2 to less than 5 years').str.join('')
df['treatment_period_6'] = df['reviewer'].str.findall('5 to less than 10 years').str.join('')
df['treatment_period_7'] = df['reviewer'].str.findall('10 years or more').str.join('')

In [29]:
df.columns

Index(['Rdate', 'comment', 'condition', 'drug', 'easeofuse', 'effectiveness',
       'helpful', 'reviewer', 'satisfaction', 'patient', 'caregiver', 'male',
       'female', 'treatment_period_1', 'treatment_period_2',
       'treatment_period_3', 'treatment_period_4', 'treatment_period_5',
       'treatment_period_6', 'treatment_period_7'],
      dtype='object')

In [30]:
df.head()

,Rdate,comment,condition,drug,easeofuse,effectiveness,helpful,reviewer,satisfaction,patient,caregiver,male,female,treatment_period_1,treatment_period_2,treatment_period_3,treatment_period_4,treatment_period_5,treatment_period_6,treatment_period_7
0,9/19/2007 9:03:53 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"bjorn, 65-74 Male on Treatment for 2 to less ...",3,1,0,1,0,,,,,2 to less than 5 years,,
1,9/18/2007 11:18:23 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"cutie54, 45-54 Female on Treatment for 1 to 6...",5,1,0,0,1,,1 to 6 months,,,,,
2,3/2/2015 7:26:37 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,65-74 Female on Treatment for 1 to 6 months (...,5,1,0,0,1,,1 to 6 months,,,,,
3,1/4/2015 6:47:30 AM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,4,2,15,"MarkW, 65-74 Male on Treatment for 1 to 6 mon...",1,1,0,1,0,,1 to 6 months,,,,,
4,10/20/2014 3:13:21 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,"Les, 55-64 Female (Patient)",5,1,0,0,1,,,,,,,

#### Recode values

In [31]:
df['treatment_period_1'] = np.where(df['treatment_period_1'] == 'less than 1 month', 1, 0)
df['treatment_period_2'] = np.where(df['treatment_period_2'] == '1 to 6 months', 1, 0)
df['treatment_period_3'] = np.where(df['treatment_period_3'] == '6 months to less than 1 year', 1, 0)
df['treatment_period_4'] = np.where(df['treatment_period_4'] == '1 to less than 2 years', 1, 0)
df['treatment_period_5'] = np.where(df['treatment_period_5'] == '2 to less than 5 years', 1, 0)
df['treatment_period_6'] = np.where(df['treatment_period_6'] == '5 to less than 10 years', 1, 0)
df['treatment_period_7'] = np.where(df['treatment_period_7'] == '10 years or more', 1, 0)

##### Check Value Counts

In [32]:
list = ['1', '2', '3', '4', '5', '6', '7']

for num in list:
    period = 'treatment_period_'+num
    t_prd_by_group = df[period].value_counts()
    print(t_prd_by_group)

0    4333
1    1162
Name: treatment_period_1, dtype: int64
0    3949
1    1546
Name: treatment_period_2, dtype: int64
0    4911
1     584
Name: treatment_period_3, dtype: int64
0    4943
1     552
Name: treatment_period_4, dtype: int64
0    4763
1     732
Name: treatment_period_5, dtype: int64
0    5170
1     325
Name: treatment_period_6, dtype: int64
0    5322
1     173
Name: treatment_period_7, dtype: int64

### Age Groups

In [33]:
df['age_group_1'] = df['reviewer'].str.findall('19-24')
df['age_group_2'] = df['reviewer'].str.findall('25-34')
df['age_group_3'] = df['reviewer'].str.findall('35-44')
df['age_group_4'] = df['reviewer'].str.findall('45-54')
df['age_group_5'] = df['reviewer'].str.findall('55-64')
df['age_group_6'] = df['reviewer'].str.findall('65-74')
df['age_group_7'] = df['reviewer'].str.findall('75 or over')

#### Check Value Counts

In [34]:
for num in list:
    group = 'age_group_'+num
    val_by_age = df[group].value_counts()
    print(val_by_age)

[]         5216
[19-24]      26
Name: age_group_1, dtype: int64
[]         5074
[25-34]     168
Name: age_group_2, dtype: int64
[]         4703
[35-44]     539
Name: age_group_3, dtype: int64
[]         3902
[45-54]    1340
Name: age_group_4, dtype: int64
[]         3483
[55-64]    1759
Name: age_group_5, dtype: int64
[]         4219
[65-74]    1023
Name: age_group_6, dtype: int64
[]              4937
[75 or over]     305
Name: age_group_7, dtype: int64

##### Recode values into 1 and 0

In [35]:
df['age_group_1'] = np.where(df['age_group_1'] == '19-24', 1, 0)
df['age_group_2'] = np.where(df['age_group_2'] == '25-34', 1, 0)
df['age_group_3'] = np.where(df['age_group_3'] == '35-44', 1, 0)
df['age_group_4'] = np.where(df['age_group_4'] == '45-54', 1, 0)
df['age_group_5'] = np.where(df['age_group_5'] == '55-64', 1, 0)
df['age_group_6'] = np.where(df['age_group_6'] == '65-74', 1, 0)
df['age_group_7'] = np.where(df['age_group_7'] == '75 or over', 1, 0)

In [36]:
df.head()

,Rdate,comment,condition,drug,easeofuse,effectiveness,helpful,reviewer,satisfaction,patient,...,treatment_period_5,treatment_period_6,treatment_period_7,age_group_1,age_group_2,age_group_3,age_group_4,age_group_5,age_group_6,age_group_7
0,9/19/2007 9:03:53 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"bjorn, 65-74 Male on Treatment for 2 to less ...",3,1,...,1,0,0,0,0,0,0,0,0,0
1,9/18/2007 11:18:23 AM,The medication has helped me keep my 2 month s...,Type 2 Diabetes Mellitus,metformin oral,5,4,22,"cutie54, 45-54 Female on Treatment for 1 to 6...",5,1,...,0,0,0,0,0,0,0,0,0,0
2,3/2/2015 7:26:37 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,65-74 Female on Treatment for 1 to 6 months (...,5,1,...,0,0,0,0,0,0,0,0,0,0
3,1/4/2015 6:47:30 AM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,4,2,15,"MarkW, 65-74 Male on Treatment for 1 to 6 mon...",1,1,...,0,0,0,0,0,0,0,0,0,0
4,10/20/2014 3:13:21 PM,I have been taking Tanzeum for four weeks and ...,Type 2 Diabetes Mellitus,Tanzeum subcutaneous,5,5,15,"Les, 55-64 Female (Patient)",5,1,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df.columns

Index(['Rdate', 'comment', 'condition', 'drug', 'easeofuse', 'effectiveness',
       'helpful', 'reviewer', 'satisfaction', 'patient', 'caregiver', 'male',
       'female', 'treatment_period_1', 'treatment_period_2',
       'treatment_period_3', 'treatment_period_4', 'treatment_period_5',
       'treatment_period_6', 'treatment_period_7', 'age_group_1',
       'age_group_2', 'age_group_3', 'age_group_4', 'age_group_5',
       'age_group_6', 'age_group_7'],
      dtype='object')

In [38]:
df.to_csv('../data/cleaned/cleaned_df.csv', index = False)